.box {
    background-color: #fff;
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0 0 29px 0 hsla(0, 0%, 39%, .2);
    padding: 0 15px;
}

.link{
    color : #000;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 800;


}


.searchLayout{
    display: flex ;
      
        gap: 10px;
        margin-bottom: 20px;
    }


.searchBox {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
}


.searchButton {
    width: 4.25rem;
    border-radius: 5px;
    border: none;
    background-color: #2593ff;
    color: #fff;
    cursor: pointer;
}


.container {
    display: flex;
    gap:1.25rem;
    flex-direction: column;
}

.container h3{
    margin-top: 1.5rem;
}